@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

@import "./variables";
@import "./mixins";
@import "./animations";
@import "./typeography";
@import "./utilities";

@import "./components/button";
@import "./components/about-box";

@import "./layout/home";
@import "./layout/grid";
@import "./pages/home";