@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600');

@import "./variables";
@import "./mixins";
@import "./animations";
@import "./typeography";
@import "./utilities";

@import "./components/button";
@import "./components/about-box";
@import "./components/radial-gradient";
@import "./components/card";
@import "./components/form";

@import "./layout/home";
@import "./layout/grid";
@import "./pages/home";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    padding: 3rem;
    box-shadow: 0 1rem 4rem rgba($color-black, 0.4);
}