.section-about {
    display: block;
    min-height: 60rem;
    overflow: hidden;
    background-color: rgba($color-grey-light, 0.5);
}

.section-work {
    min-height: 60rem;
    background: linear-gradient(to top, rgba($color-black, 0.1), rgba($color-black, 0.5)), url("../images/work-section__bg--large.png") center no-repeat;
    background-size: cover;
}

.section-contact {
    min-height: 60rem;
    background-color: $color-grey-light;
}