

.btn {
    border-radius: 5rem;
    transition: all 0.3s;
    backface-visibility: hidden;
    height: 6rem;
    width: 25rem;
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: $color-secondary;
    background-color: $color-grey-light;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;
        display: inline-block;
        cursor: pointer;
        padding: 1.5rem 4rem;
        border: none;
        margin: 5rem auto;
        position: relative;
    }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(1px);
        }

    &--white {
        color: $color-white;
        box-shadow: 0 1.5rem 2rem rgba($color-white, 0.2);
        background-color: rgba($color-grey-dark, 0.8);

        &:hover {
            box-shadow: 0 2rem 3rem rgba($color-white, 0.2);
        }

        &:active,
        &:focus {
            box-shadow: 0 1rem 1.5rem rgba($color-white, 0.2);            
        }
    }

    &--animated {
        position: relative;
        
        &:before {
            content: "";
            height: 100%;
            position: absolute;
            border-radius: 5rem;
            top: 0;
            left: 0;
            width: 100%;
            display: inline-block;
            background: linear-gradient(120deg, transparent 0%, transparent 80%, $color-white 80%, transparent 90%, $color-white 90%, transparent 100%);
            background-size: 250%;
            transition: all 1s ease;
            backface-visibility: hidden;
        }

        &:hover {
            &:before {
                background-size: 200%;
                background-position: 200%;
            }
        }
    }

   

}