.contact-form {
    transform: skewX(-10deg);
    width: 100%;
    padding: 0 4rem;
    float: left;
    

    &__group {
        margin-bottom: 2rem;
        margin-left: auto;
    }

    &__input {
        width: 90%;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 3px;
        background-color: rgba($color-white, 0.9);
        display: block;
        border: none;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-secondary;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }

        &--textarea {
            resize: none;

            &:focus {
                border: 3px solid $color-secondary;
            }
        }

        
    }

        &__submit {
            position: absolute;
            width: 100%;
        }


        &__label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 2rem;
            display: block;
            transition: all 0.4s;
        }

        &__input:placeholder-shown + &__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }

        
    }
    .social {
        display: block;
        width: 50%;
        height: 2.5rem;
        transform: skewX(-10deg);
        position: absolute;
        right: 0;
        bottom: 0;

        &__list {
           display: flex;
           justify-content: space-evenly;
           list-style: none;
            position: relative;
        }
        &__list-item {
            margin-top: -5rem;
            position: relative;
            z-index: 2;
            transition: all 0.3s;

           &--icon {

               &-path {
                  fill: $color-white;
               }

               &-wrap {
                   width: 5rem;
                   height: 8rem;
                   position: relative;
                   z-index: 3;
                   -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
                   -moz-filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
                   -o-filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
                   -ms-filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
                    filter: drop-shadow(0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5));
                }
            }

        }
}

.portrait {
    width: 100%;
    float: right;
    transform: skewX(-35deg);
    position: relative;
    overflow: hidden;
    // height: 25rem;
    text-align: center;

    & > img {
        width: 50%;
        border-radius: 50%;
        background-color: #fff;
        padding: 0.5rem;
        transform: skewX(26deg);
    }

    .contact{

        &__list {
            width: 100%;
            text-align: center;
            transform: skewX(30deg);
            list-style: none;

        }
        &__list-item {
            color: #f0f0f0;
            font-size: 1.3rem;
            font-weight: 400;
            
        }
    }
}