.contact-form {
    transform: skewX(-10deg);
    width: 50%;
    padding-left: 5rem;
    

    &__group {
        margin-bottom: 2rem;
        margin-left: auto;
    }

    &__input {
        width: 90%;
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 3px;
        background-color: rgba($color-white, 0.9);
        display: block;
        border: none;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-secondary;
        }

        &:focus:invalid {
            border-bottom: 3px solid orangered;
        }

        &--textarea {
            resize: none;

            &:focus {
                border: 3px solid $color-secondary;
            }
        }

        
    }

        &__submit {
            position: absolute;
            width: 100%;
        }


        &__label {
            font-size: 1.2rem;
            font-weight: 700;
            margin-left: 2rem;
            display: block;
            transition: all 0.4s;
        }

        &__input:placeholder-shown + &__label {
            opacity: 0;
            visibility: hidden;
            transform: translateY(-4rem);
        }

        &__radio-group {
            display: inline-block;
            font-size: 1.2rem;
            color: $color-black;
            width: 49%;
        }

        &__radio-label {
            position: relative;
            cursor: pointer;
            padding-left: 4rem;
            font-weight: 400;
        }

        &__radio-button {
            height: 3rem;
            border-radius: 50%;
            background-color: $color-secondary;
            width: 3rem;
            border: 3px solid $color-primary;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -0.4rem;

            &::after {
                content: "";
                height: 1.5rem;
                width: 1.5rem;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $color-primary;
                opacity: 0;
                transition: opacity 0.3s;
            }
        }

        &__radio-input {
            display: none;
        }

        &__radio-input:checked ~ &__radio-label &__radio-button:after {
            opacity: 1;
        }
}